/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    /*background: linear-gradient(135deg, #74ebd5, #ACB6E5);*/
    background: rgb(237,238,247);
    background: radial-gradient(circle, rgba(237,238,247,1) 15%, rgba(85,69,209,0.742734593837535) 85%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: rgb(248, 249, 250);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Input Field and Button */
input[type="text"] {
    width: 70%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #007BFF;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border-color: #0056b3;
}

button {
    width: 25%;
    padding: 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Weather Result Styles */
.weather-result {
    margin-top: 30px;
}

.weather-result h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.weather-result p {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
